* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* nav bar start */
nav {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  height: 70px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  background-color: white;
}

nav a {
  text-decoration: none;
  color: #2d2e32;
  transition: all 0.23s;
}
nav a:hover {
  color: #147efb;
}
nav .logo {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 40px;
  font-size: 20px;
  font-weight: bold;
}
nav .links {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .links ul {
  list-style: none;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-weight: 600;

  padding: 0 20px;
}
nav .checkBtn {
  font-size: 30px;
  color: #2d2e32;
  cursor: pointer;
  display: none;
}

nav #checkInput {
  display: none;
}

nav .checkbox:checked + .menu_box {
  left: 0;
}
/* nav bar end */

/* hero section start */
.hero_section {
  width: 100%;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 75%;
  margin: auto;
  padding: 70px 0px 0 0px;
}
.hero_content {
  width: 100%;
  margin: auto;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_content .hero_img {
  width: 350px;
  height: 350px;
  background-image: url("../img/karim.webp");
  background-position: center center;
  background-size: cover;
  border: 5px solid black;
  animation-name: dancing_border;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes dancing_border {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.hero_title .hero_social_icons {
  margin: 25px 0;
  font-size: 32px;
}
.hero_title .hero_social_icons a {
  padding-right: 5px;
}
.hero_title .hero_social_icons a:visited {
  color: #2d2e32;
}
.hero_title h1 {
  font-size: 55px;
  line-height: 1.2;
  margin: 20px 0;
  color: #2d2e32;
}
.hero_title p {
  font-size: 18px;
  color: #555;
  padding-right: 35px;
}
.container .skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.container .skills .skills_title {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
}
.container .skills .skills_img {
  transition: all 1s ease;
  bottom: 0;

  padding: 10px;
}
.container .skills .skills_img:hover {
  bottom: 10px;
}
/* hero section end */
/* bout me section start */
.about_me {
  padding: 150px 0;
}
.about_me .container {
  padding: 0;
}
.about_me .container .about_img {
  width: 410px;
  height: 350px;
  position: relative;
  z-index: 0;
}
.about_me .container .about_img::after {
  content: "";
  position: absolute;
  background-image: url("..img/text2.3d5aa6ba2d0632bb4e0572631c3f9dc2.svg");
  background-position: center center;
  background-size: cover;
  padding: 40px;
  bottom: -6%;
  right: -15%;
  width: 100px;
  background-color: white;
  transform: rotate(180deg);
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  animation-name: spin;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.about_me .container .about_img::before {
  content: "👨‍💻";
  position: absolute;
  z-index: 9;
  padding: 40px;
  bottom: -6%;
  right: -15%;
  width: 100px;
  background-color: transparent;
  font-size: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.about_me .container .about_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.about_me .about_content {
  width: 45%;
  font-size: 17px;
  color: #767676;
}
.about_me .about_content h3 {
  color: #147efb;
  font-size: 17px;
  margin-bottom: 10px;
}
.about_me .about_content h2 {
  color: #2d2e32;
  font-size: 25px;
  padding-bottom: 20px;
}

.about_me .about_card {
  display: flex;
  padding: 0 10px;
  justify-content: space-evenly;
  gap: 32px;
}
/* bout me section end */
/* portfolio section start */
.portfolio {
  background-color: #f9f9f9f9;
  padding: 150px 0;
}
.portfolio .container {
  padding: 0;
}
.portfolio .portfolio_header h3 {
  color: #147efb;
  margin-bottom: 10px;
}
.portfolio .portfolio_header h2 {
  margin-bottom: 60px;
}
.portfolio_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio_card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 90%;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
.portfolio_card:nth-child(4) {
  margin-bottom: 0;
}
.portfolio_card:nth-child(2) .portfolio_card_content,
.portfolio_card:nth-child(4) .portfolio_card_content {
  order: -1;
}
.portfolio_card .portfolio_card_img {
  width: 50%;
  overflow: hidden;
  max-height: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.portfolio_card .portfolio_card_img img {
  width: 100%;
  transform: translateY(0%);
  transition: all 9s ease-in-out 0s;
}
.portfolio_card .portfolio_card_img img:hover {
  transform: translateY(-85%);
}
.portfolio_card_content {
  width: 40%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
}
.portfolio_card_content h3 {
  font-size: 17px;
  margin-bottom: 20px;
}
.portfolio_card_content p {
  font-size: 17px;
  color: #767676;
  text-align: center;
  padding: 0 35px;
  margin-bottom: 10px;
}
.portfolio_stack {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}
.portfolio_stack .Portfolio_stack_tech {
  background-color: white;
  padding: 10px 13px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 17px;
}
.portfolio_links {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.portfolio_links .portfolio_link {
  display: flex;

  justify-content: space-around;
  align-items: center;
}
.portfolio_links .portfolio_link a {
  text-decoration: none;
  color: #2d2e32;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
}
.portfolio_links .portfolio_link a i {
  font-size: 18px;
}

/* portfolio section end */
/* contact section start  */
.contact .container {
  padding: 0;
}
.contact {
  padding: 110px 0;
}
.contact .container h3 {
  color: #147efb;
  margin-bottom: 10px;
}
.contact .container h2 {
  font-size: 25px;
}
.content_icons {
  display: flex;
  gap: 60px;
  margin-top: 60px;
}
.contsct_icon {
  display: flex;
  align-items: center;
  gap: 13px;
}
.contsct_icon .icon {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #147efb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}
.contsct_icon .icon i {
  font-size: 30px;
}
.contsct_icon .icon_dec .title_dec {
  color: #767676;
}
.contsct_icon .icon_dec .title {
  font-size: 17px;
  font-weight: 600;
}

footer {
  padding: 50px;
  background-color: #2d2e32;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy_right {
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.footer_social_icons a i {
  color: white;
  font-size: 30px;
  padding: 0 10px;
}
/* contact section end */
/* ************************************************************************ */
/* respon// Small devices (landscape phones, and up)*/
@media (max-width: 767px) {
  /* navbar responsive start */
  nav .checkBtn {
    display: block;
    transition: all 0.25s ease;
  }
  nav .checkBtn:hover {
    color: #147efb;
  }
  nav .links {
    width: 20%;
  }
  nav .links ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    background-color: #f9f9f9;
    transition: all 0.45s ease-in-out;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }
  nav .links ul li {
    padding: 25px 0;
  }
  /* navbar responsive end */

  /* hero section responsive start */
  .hero_content {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0px;
  }
  .hero_content .hero_img {
    order: -1;
    max-width: 100%;
    margin: auto;
  }
  .container {
    width: 85%;
    text-align: center;
    padding: 120px 0 0 0;
  }
  .hero_title h1 {
    font-size: 38px;
    line-height: 1.2;
    margin: 25px 0;
    color: #2d2e32;
  }
  .hero_title p {
    font-size: 18px;
    padding-right: 30px;
  }
  .container .skills {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  .container .skills .skills_title span {
    display: none;
  }
  .container .skills .skills_title {
    padding-right: 0px;
    border-bottom: 3px solid #2d2e32;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  /* hero section responsive end */
  /* about me responsive start */

  .about_me .about_card {
    flex-direction: column;
    padding: 0;
  }
  .about_me .container .about_img::before {
    display: none;
  }
  .about_me .container .about_img::after {
    display: none;
  }
  .about_me .container .about_img {
    max-width: 100%;
    margin: auto;
  }
  .about_me .container {
    width: 90%;
  }
  .about_card .about_content {
    text-align: center;
    width: 100%;
  }
  .about_me .about_content p {
    font-size: 16px;
  }
  /* about me responsive end */
  /* portfolio section responsive start */
  .portfolio_card {
    width: 100%;
    flex-direction: column;
  }

  .portfolio .container {
    width: 95%;
  }
  .portfolio_card .portfolio_card_img {
    width: 100%;
  }
  .portfolio_card .portfolio_card_content {
    width: 100%;
  }
  .portfolio_card .portfolio_card_content p {
    padding: 0px;
  }
  .portfolio_links {
    width: 100%;
  }
  .portfolio_card:nth-child(2) .portfolio_card_content,
  .portfolio_card:nth-child(4) .portfolio_card_content {
    order: 0;
  }
  /* portfolio section responsive end */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  /* nav bar responsive start */
  nav .links {
    width: 55%;
  }
  .container {
    width: 90%;

    padding: 120px 0 0 0;
  }
  /* nav bar responsive end */
  /* hero section responsive start */
  .hero_title h1 {
    font-size: 38px;
    line-height: 1.2;
    margin: 25px 0;
  }
  .hero_title p {
    padding-right: 20px;
  }
  .container .skills {
    justify-content: center;
    align-items: center;
  }
  /* hero section responsive end */
  /* about me section responsive start */
  .about_me .container {
    width: 96%;
  }
  .about_me .about_card {
    padding: 0;
  }
  .about_me .about_content p {
    font-size: 16px;
  }
  .about_me .container .about_img::before {
    display: none;
  }
  .about_me .container .about_img::after {
    display: none;
  }
  /* about me section responsive end */
  /* portfolio section responsive start */
  .portfolio_card {
    width: 100%;
    flex-direction: column;
  }

  .portfolio .container {
    width: 95%;
  }
  .portfolio_card .portfolio_card_img {
    width: 100%;
  }
  .portfolio_card .portfolio_card_content {
    width: 100%;
  }
  .portfolio_card .portfolio_card_content p {
    padding: 0px;
  }
  .portfolio_links {
    width: 100%;
  }
  .portfolio_card:nth-child(2) .portfolio_card_content,
  .portfolio_card:nth-child(4) .portfolio_card_content {
    order: 0;
  }
  /* portfolio section responsive end */
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* nav responsive start */
  nav .links {
    width: 55%;
  }
  /* nav responsive end */
  /* hero section responsive start  */
  .container {
    width: 85%;
    padding: 120px 0 0 0;
  }
  .hero_title p {
    padding-right: 35px;
  }
  /* hero section responsive end */
  /* about me responsive start */
  .about_me .container {
    width: 92%;
  }
  .about_me .about_card {
    padding: 0;
    gap: 75px;
  }

  /* about me responsive end */
  /* portfolio section responsive start */
  .portfolio_links {
    width: 80%;
  }
  .portfolio_card .portfolio_card_content p {
    padding: 0px;
  }
  /* portfolio section responsive end */
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1380px) {
  .about_me .about_card {
    padding: 0;
    gap: 75px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up)*/

/* responsive view end */
